#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}



body {
  font-family: Arial, sans-serif;
  margin: 20px;
 
}
.Main-container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(rgb(255, 152, 152), rgb(244, 244, 173), rgb(152, 233, 152));
}
.center-container {
  text-align: center;
}
.heading {
  font-size: 24px;
  margin-bottom: 10px;
}
.List-Items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px 0;
  border-radius: 4px;
  background: #fff;
}
.icons {
  cursor: pointer;
  color: #f00;
}
.Inputbox {
  width: 300px;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Input-conatainer{
  display: flex;
  justify-content: left;
  gap: 20px;
}
.add-btn {
  padding: 10px 10px;
  background-color: #bed9f5;
  color: rgb(18, 13, 13);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
}
.add-btn:hover {
  background-color: #0056b3;
  color: white;
}